<!DOCTYPE html>
    <head>
        <title>Regular Expresions{% block title %}{% endblock %}</title>
        <meta charset = "UTF-8" >
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}" media="all">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.ico') }}" type="image/x-icon" >
    </head>
    <body>
        <img src="{{ url_for('static', filename='img/background_verde.png') }}">
        <article>
            {% block content %}{% endblock %}
        </article>
    </body>
</html>