<!DOCTYPE html>
	<head>
		<title>Regular Expresions: ERROR</title>
		<meta charset = "UTF-8" >
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}" media="all">
	</head>
	<body>
		<img src="{{ url_for('static', filename='img/background.png') }}">
		<article>
			{% if e %}
				<h1 style = "text-align:center; color:red;" > Error:  </h1>
				<h2 style = "text-align:center;"> {{ e }} </h2>
			{%else%}
				<h2 style = "text-align:center;"> There has beeen a mistake please go back </h2>
			{% endif %}
			
		</article>
	</body>
</html>
