<!DOCTYPE html>
	<head>
		<title>Regular Expresions</title>
		<meta charset = "UTF-8" >
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}" media="all">
	</head>
	<body>
		<img src="{{ url_for('static', filename='img/background.png') }}">
		<article>
			<button class = "center-title" onclick="alert('Funciona')">Regular Expresion: </button>
			<br>
			<input class = "re" type = "text" >
			<br>
			<br>
			<input class = "text">	
			<br>
			<br>
			
		</article>
	</body>
</html>