{% extends "base.html" %}
    
    {% block title %}
        - Table
    {% endblock %}

    {% block content %}
        <h1><strong>Regular Expresion:</strong> {{re}}</h1>

        <h1><strong>Transitions:</strong></h1>
        <table border = 1>
            <tr>
                <td><b>State</b></td>
                {% for i in simbols %}
                <td><b>{{i}}</b></td>
                {% endfor %}
            </tr>
            {% for s in states: %}
            <tr>
                <td>{{s.name}}</td>
                {% for i in simbols %}
                    <td> {% for k in s.delta(i) %}
                            {{k.name}},&#32;
                         {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <h1><strong>Matches:</strong></h1>
        <table border = 1>
            <tr>
                <td><b>Inicial</b></td>
                <td><b>Final  </b></td>
                <td><b>Pattern</b></td>
            </tr>
            {% for i,f,s in found %}
            <tr>
                <td>{{i}}</td>
                <td>{{f}}</td>
                <td>{{s}}</td>
            </tr>
            {% endfor %}
        </table>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    {% endblock %}
